.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    height:30px;
  
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}
  
  .pagination .active{
    background:blue;
  }