footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #efefef;
	text-align: center;
	height:90px;
  margin-top:50px;
  }
  
  
  
  footer .copyright {
	width: 50%;
	float: left;
  }
  @media (max-width: 600px) {
	footer .copyright {
	  width: 100%;
	}
  }
  footer .copyright p {
	padding-left: 10%;
	color: grey;
	font-size: 0.7em;
	line-height: 70px;
	text-transform: capitalize;
	letter-spacing: 1px;
  }
  @media (max-width: 600px) {
	footer .copyright p {
	  text-align: center;
	  padding: 0;
	}
  }
  footer .social {
	width: 50%;
	float: right;
  }
  @media (max-width: 600px) {
	footer .social {
	  width: 100%;
	}
  }
  footer .social a {
	float: left;
	line-height: 90px;
	text-decoration: none;
	color: white;
	text-align: center;
	font-weight: regular;
	-moz-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	-webkit-transition: all, 0.3s;
	transition: all, 0.3s;
  }
  footer .social a:hover {
	background-color: #222;
	-moz-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	-webkit-transition: all, 0.3s;
	transition: all, 0.3s;
  }
  
  .linked {
	background-color: #1E83AE;
	font-size: 1.2em;
	width: 20%;
  }
  
  .face {
	background-color: #3D5B94;
	font-size: 1.2em;
	width: 20%;
  }
  
  .tweet {
	background-color: #3DACDD;
	font-size: 1.2em;
	width: 20%;
  }
  
  .support {
	background-color: #6dcd9a;
	font-size: 1em;
	width: 40%;
	}
	
	.navbar {
		overflow: hidden;
		background-color: #333;
	}
	
	.navbar a {
		float: left;
		font-size: 16px;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
	
	.dropdown {
		float: left;
		overflow: hidden;
	}
	
	.dropdown .dropbtn {
		font-size: 16px;  
		border: none;
		outline: none;
		color: white;
		padding: 14px 16px;
		background-color: inherit;
		font-family: inherit;
		margin: 0;
	}
	
	.navbar a:hover, .dropdown:hover .dropbtn {
		background-color: red;
	}
	
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}
	
	.dropdown-content a {
		float: none;
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
	}
	
	.dropdown-content a:hover {
		background-color: #ddd;
	}
	
	.dropdown:hover .dropdown-content {
		display: block;
	}